<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Api REST agenda</title>
    </head>
    <body>
        <div>
            <h1 align="center">API REST Agenda</h1> 
            <dl align="center">
                <dt>Utilize:</dt>
                <dd><b>Metódo POST:</b> /creat</dd>
                <dd><b>Metódo GET:</b> /read</dd>
                <dd><b>Metódo GET:</b> /read/"insira o id aqui"</dd>
                <dd><b>Metódo PATCH:</b> /update/"insira o id aqui"</dd>
                <dd><b>Metódo DELETE:</b> /delete/"insira o id aqui"</dd>
            </dl>
        </div>
    </body>
</html>

